{% extends 'base.html' %}

{% block content %}
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav justify-content-center" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">
        <b>Dashboard</b>
    </a>
    <a class="nav-link" href="#">
        <b>Friends</b>
      <span class="badge text-bg-light rounded-pill align-text-bottom">1</span>
    </a>
    <a class="nav-link" href="#">
        <b>Inbox</b>
    </a>
    <a class="nav-link" href="#">
        <b>Suggestions</b>
    </a>
  </nav>
</div>

<main class="container">

  {% if current_user.is_authenticated %}
    <div class="d-inline-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
      <img src="{{ uuid_list._Revalorise.avatar }}" class="rounded" width="32px" height="32px">

      <div class="lh-1 px-2">
        {% if rank == "Owner" %}
        <h1 class="h6 mb-0 text-white lh-1 badge bg-danger text-wrap">
          {{ minecraft_details.Revalorise.username }}
        </h1>
        {% else %}
        <h1 class="h6 mb-0 text-white lh-1 badge bg-info text-wrap">
          {{ minecraft_details.Revalorise.username }}
        </h1>
        {% endif %}

        <button type="button" class="btn btn-warning ms-5"><a href="{{ url_for('logout') }}">Logout</a></button>
      </div>
    </div>

  {% else %}
    <div class="d-inline-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
        <div class="lh-1 px-2">
          <h1 class="h6 mb-0 lh-1">
            Welcome guest! Please
            <a href="{{ url_for('login') }}" class="text-warning">log in</a> or
            <a href="{{ url_for('register') }}" class="text-warning">register</a>
            to proceed.
          </h1>
        </div>
      </div>
  {% endif %}

  <div class="my-3 p-3 bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <div class="d-flex text-body-secondary pt-3">
      <img src="{{ uuid_list._Revalorise.avatar }}" class="rounded" width="32" height="32" role="img">
      <p class="pb-3 px-2 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">@{{ uuid_list._Revalorise.username }}
          <b class="text-warning bg-dark rounded d-inline-flex p-1">Topic: Introducing Main Lobby!</b>
        </strong>
        Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
      </p>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow">
    <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
    <div class="d-flex text-body-secondary pt-3">
        <img src="{{ uuid_list.Vcera.avatar }}" class="rounded" width="32" height="32" role="img">
      <div class="pb-3 px-2 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">@{{ uuid_list.Vcera.username }}</strong>
          <a href="#">Follow</a>
        </div>
        <span class="badge bg-danger">Owner</span>
      </div>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>

  </div>

  <hr>

  <div class="d-inline-flex align-items-center p-3 mt-3 text-white bg-dark rounded shadow-sm">
        <div class="lh-1 px-2">
          <h1 class="h6 mb-0 lh-1">
            Write a post
          </h1>
        </div>
  </div>

<div class="container py-4">
  <form class="row g-3 py-4">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Topic</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Content</label>
    <input type="text" class="form-control" id="inputAddress">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Tags</label>
    <input type="text" class="form-control" id="inputAddress2">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
</form>
</div>
</main>
{% endblock %}