{% extends 'base.html' %}

{% block content %}
<div class="container d-flex pxy-4">
<main class="form-signin w-100 m-auto pxy-4 d-flex justify-content-center">
  <form class="py-5 col-sm-4" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <img class="mb-4" src="{{ url_for('static', filename='images/bee_icon.png') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-group py-2">
      {{ form.email.label }}
      {{ form.email(class_="form-control", size=32) }}
      {% for error in form.email.errors %}
         <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group py-2">
      {{ form.password.label }}
      {{ form.password(class_="form-control", size=32) }}
      {% for error in form.password.errors %}
         <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group py-2 mb-3">
      {{ form.password2.label }}
      {{ form.password2(class_="form-control", size=32) }}
      {% for error in form.password2.errors %}
         <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    {{ form.submit(class_="form-control btn btn-outline-warning") }}
  </form>
</main>
</div>
{% endblock %}